img {
    width: 100%;
    height: 100%;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
.logo {
  width: 70px;
  height: 70px;
  background-color: red;
}
.navbar-custom {
    padding: 0rem 1rem;
    background-color: black;
    .navbar-collapse {
        @media (min-width: 992px) {
            padding-left: 0%;
        }
        .nav-item {
            font-family: 'lato', sans-serif;
            color: whitesmoke;
            font-size: 1rem;
            .nav-link {
                &,
                &:visited,
                &:hover,
                &:active,
                &:focus,
                &:active:hover {
                 font-style: inherit;
                 color: inherit;
                 background-color: transparent;
                 font-size: inherit;
                 text-decoration: none;
                 font-variant: inherit;
                 font-weight: inherit;
                 line-height: inherit;
                 font-family: inherit;
                 border-radius: inherit;
                 border: inherit;
                 outline: inherit;
                 box-shadow: inherit;
                 vertical-align: inherit;
                }
              
            }
            .dropdown-menu {
                background-color: red;
                font-family: 'lato', sans-serif;
                font-size: 1rem;
                #clearButton {
                    background-color: black;
                    border-color: black;
                    margin-bottom: 5px;
                    margin-left: 5px;
                }
                .totalDropdown {
                    color: black !important;
                    font-weight: bold;
                }
                .dropdown-item {
                    color: white;
                    font-weight: bold;
                }
            }
            
        }
    }
}
.header_inicio {
    background-image: url(../../img/burgeruno.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center;
}
.jumbotron_uno {
    margin-left: 1rem;
    @media (min-width:992px) {
        margin-left: 3rem;
        margin-bottom: 11rem;
    }
    .inicio_titulo {
        font-family: 'lato', sans-serif;
        font-size: 3.5rem;
        color: white;
        font-weight: bolder;
    }
    .inicio_subtitulo {
        font-family: 'lato', sans-serif;
        font-size: 2rem;
        color: white;
        font-weight: normal;
    }
    .boton_jumbotron {
        font-family: 'latos', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: whitesmoke;
        background-color: red;
        border-radius: 0;
        padding: 1rem;
    }
}
.section_productos {
    background-color: red;
    font-family: 'latos', sans-serif;
    color: rgba(199, 195, 195, 0.829);
    padding: 2rem 3rem 2rem 3rem;

    .productos_nombres {
        color: whitesmoke;
        font-weight: bold;
        font-size: 1.5rem;
        padding-top: 1rem;
    }

    .iconos_productos {
        width: 100px;
        height: 100px;
    }

}
.section_nosotros {
    background-color: red;
    padding: 2rem 3rem 2rem 3rem;

    .icono_burger {
        width: 60px;
        margin-top: 1rem;
        background-color: red;
    }
    .section_nosotros_titulo {
        font-family: 'latos', sans-serif;
        font-size: 1.5rem;
        color: whitesmoke;
        font-weight: bold;
    }
    .iconos_nosotros {
        width: 100px;
        height: 100px;
    }
}
.carousel-inner {
 @media (min-width: 768px) {
     max-height: 550px;
 }
 .carousel-item {
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center;
  }
  #sliderUno {
      background-image: url(../../img/sara-cervera-xB0Kr0D0C8Y-unsplash.jpg);
  }
  #sliderDos {
      background-image: url(../../img/jonathan-borba-1kA3lACHeqk-unsplash.jpg);
  }
  #sliderTres {
      background-image: url(../../img/pesce-huang-GR4Y5K8gwq8-unsplash.jpg);
  }
  .boton_carousel {
      font-family: 'latos', sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: whitesmoke;
      background-color: red;
      border-radius: 0;
      padding: 1rem;
  }
}
.menu {
    border: solid 4px white;
    font-family: 'latos', sans-serif;
    color: white;
    .titulo_menu {
        font-size: 3rem;
        font-weight: bolder;
    }
    .contenido_menu {
        color: grey;
        font-size: 1.5rem;
    }
    .jumbotron_menu {
        margin-left: 1rem;
        padding: 2rem;
        @media (min-width: 992px) {
            margin-left: 4rem;
            padding: 4rem 2rem;
        }
    }
    .boton_agregar {
        font-family: 'latos', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: whitesmoke;
        background-color: red;
        border-radius: 0;
        padding: 1rem;
    }
    .combo {
        border: solid 4px white;
        background-image: url(../../img/moritz-kindler-F0uOqX24H44-unsplash.jpg);
        height: 500px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-bakcground-size: cover;
        -o-background-size: cover;
        background-position: center center;
    }
    .combo_vegano {
        border: solid 4px white;
        background-image: url(../../img/milada-vigerova-liHzUxIOqt8-unsplash.jpg);
        height: 500px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-bakcground-size: cover;
        -o-background-size: cover;
        background-position: center center;
    }
    .milkshake {
        border: solid 4px white;
        background-image: url(../../img/sara-cervera-L6RfOqJqT8g-unsplash.jpg);
        height: 500px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-bakcground-size: cover;
        -o-background-size: cover;
        background-position: center center;
    }
    .fritas {
        border: solid 4px white;
        background-image: url(../../img/mehrshad-rajabi-NM92w8oiKn0-unsplash.jpg);
        height: 500px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-bakcground-size: cover;
        -o-background-size: cover;
        background-position: center center;
    }

}
.descargar_menu {
    padding: 2rem;
    background-color: red;
    .titulo_descargar {
        font-family: 'latos', sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        color: white;
        @media (min-width:768px) {
            padding-left: 2rem;
        }
    }
    .boton_menu {
        background: none;
        border: solid 3px white;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        padding: .5rem;
        border-radius: 0;
        margin-top: 1rem;
        @media (min-width:768px) {
            margin-top: 0;
            margin-left: 10rem;
        }
        @media (min-width:992px) {
            margin-left: 20rem;
        }
    }
}


