/*=-footer-=*/
footer {
  color: #fff;
  background-color: #222;
  font-family: 'latos',sans-serif;
  padding-left: 2rem; }

footer p {
  color: #ccc; }

footer a {
  color: #ccc; }

.social-pet li {
  display: inline-block;
  margin-right: 10px; }

.social-pet li a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: block;
  line-height: 35px;
  color: #fff; }

.recent-post li {
  display: block;
  color: #ccc;
  margin-bottom: 25px; }

.recent-post li label {
  float: left;
  border: 2px solid #ccc;
  padding: 1px 7px;
  text-align: center; }

.recent-post li label span {
  color: #fff; }

footer .input-group-addon {
  background-color: red;
  padding: 10px; }

ul .f-address {
  padding-left: 1rem; }

.f-address li {
  list-style: none; }

.f-address li i {
  color: red;
  font-size: 18px; }

.f-address li a {
  color: #ccc; }

/*=-Copyright-=*/
.copyright {
  background-color: #111;
  padding: 12px 0;
  font-size: 14px; }

.rappi {
  font-family: 'lobster', cursive;
  font-size: 2rem;
  color: orangered !important; }

.glovo {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: #02a770 !important; }

.pedidosYa {
  font-family: 'Alata', sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: red !important; }

img {
  width: 100%;
  height: 100%; }

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0; }

.logo {
  width: 70px;
  height: 70px;
  background-color: red; }

.navbar-custom {
  padding: 0rem 1rem;
  background-color: black; }
  @media (min-width: 992px) {
    .navbar-custom .navbar-collapse {
      padding-left: 0%; } }
  .navbar-custom .navbar-collapse .nav-item {
    font-family: 'lato', sans-serif;
    color: whitesmoke;
    font-size: 1rem; }
    .navbar-custom .navbar-collapse .nav-item .nav-link, .navbar-custom .navbar-collapse .nav-item .nav-link:visited, .navbar-custom .navbar-collapse .nav-item .nav-link:hover, .navbar-custom .navbar-collapse .nav-item .nav-link:active, .navbar-custom .navbar-collapse .nav-item .nav-link:focus, .navbar-custom .navbar-collapse .nav-item .nav-link:active:hover {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      border: inherit;
      outline: inherit;
      box-shadow: inherit;
      vertical-align: inherit; }
    .navbar-custom .navbar-collapse .nav-item .dropdown-menu {
      background-color: red;
      font-family: 'lato', sans-serif;
      font-size: 1rem; }
      .navbar-custom .navbar-collapse .nav-item .dropdown-menu #clearButton {
        background-color: black;
        border-color: black;
        margin-bottom: 5px;
        margin-left: 5px; }
      .navbar-custom .navbar-collapse .nav-item .dropdown-menu .totalDropdown {
        color: black !important;
        font-weight: bold; }
      .navbar-custom .navbar-collapse .nav-item .dropdown-menu .dropdown-item {
        color: white;
        font-weight: bold; }

.header_inicio {
  background-image: url(../../img/burgeruno.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center; }

.jumbotron_uno {
  margin-left: 1rem; }
  @media (min-width: 992px) {
    .jumbotron_uno {
      margin-left: 3rem;
      margin-bottom: 11rem; } }
  .jumbotron_uno .inicio_titulo {
    font-family: 'lato', sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: bolder; }
  .jumbotron_uno .inicio_subtitulo {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: normal; }
  .jumbotron_uno .boton_jumbotron {
    font-family: 'latos', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: red;
    border-radius: 0;
    padding: 1rem; }

.section_productos {
  background-color: red;
  font-family: 'latos', sans-serif;
  color: rgba(199, 195, 195, 0.829);
  padding: 2rem 3rem 2rem 3rem; }
  .section_productos .productos_nombres {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem; }
  .section_productos .iconos_productos {
    width: 100px;
    height: 100px; }

.section_nosotros {
  background-color: red;
  padding: 2rem 3rem 2rem 3rem; }
  .section_nosotros .icono_burger {
    width: 60px;
    margin-top: 1rem;
    background-color: red; }
  .section_nosotros .section_nosotros_titulo {
    font-family: 'latos', sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: bold; }
  .section_nosotros .iconos_nosotros {
    width: 100px;
    height: 100px; }

@media (min-width: 768px) {
  .carousel-inner {
    max-height: 550px; } }

.carousel-inner .carousel-item {
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center; }

.carousel-inner #sliderUno {
  background-image: url(../../img/sara-cervera-xB0Kr0D0C8Y-unsplash.jpg); }

.carousel-inner #sliderDos {
  background-image: url(../../img/jonathan-borba-1kA3lACHeqk-unsplash.jpg); }

.carousel-inner #sliderTres {
  background-image: url(../../img/pesce-huang-GR4Y5K8gwq8-unsplash.jpg); }

.carousel-inner .boton_carousel {
  font-family: 'latos', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
  background-color: red;
  border-radius: 0;
  padding: 1rem; }

.menu {
  border: solid 4px white;
  font-family: 'latos', sans-serif;
  color: white; }
  .menu .titulo_menu {
    font-size: 3rem;
    font-weight: bolder; }
  .menu .contenido_menu {
    color: grey;
    font-size: 1.5rem; }
  .menu .jumbotron_menu {
    margin-left: 1rem;
    padding: 2rem; }
    @media (min-width: 992px) {
      .menu .jumbotron_menu {
        margin-left: 4rem;
        padding: 4rem 2rem; } }
  .menu .boton_agregar {
    font-family: 'latos', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: red;
    border-radius: 0;
    padding: 1rem; }
  .menu .combo {
    border: solid 4px white;
    background-image: url(../../img/moritz-kindler-F0uOqX24H44-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }
  .menu .combo_vegano {
    border: solid 4px white;
    background-image: url(../../img/milada-vigerova-liHzUxIOqt8-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }
  .menu .milkshake {
    border: solid 4px white;
    background-image: url(../../img/sara-cervera-L6RfOqJqT8g-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }
  .menu .fritas {
    border: solid 4px white;
    background-image: url(../../img/mehrshad-rajabi-NM92w8oiKn0-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }

.descargar_menu {
  padding: 2rem;
  background-color: red; }
  .descargar_menu .titulo_descargar {
    font-family: 'latos', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: white; }
    @media (min-width: 768px) {
      .descargar_menu .titulo_descargar {
        padding-left: 2rem; } }
  .descargar_menu .boton_menu {
    background: none;
    border: solid 3px white;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: .5rem;
    border-radius: 0;
    margin-top: 1rem; }
    @media (min-width: 768px) {
      .descargar_menu .boton_menu {
        margin-top: 0;
        margin-left: 10rem; } }
    @media (min-width: 992px) {
      .descargar_menu .boton_menu {
        margin-left: 20rem; } }
