.contacto_bg {
  background-color: crimson; }

#contact {
  width: 100%;
  height: 100vh;
  background-color: crimson;
  overflow: hidden;
  padding-bottom: 200px; }

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px; }

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px; }

.btn {
  padding: 0; }

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
  margin-left: 5px; }

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px; }

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background-color: black;
  border: solid black; }

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out; }

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px; }

.button:hover {
  transform: translate3d(0px, -29px, 0px); }

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
  margin-right: 5px; }

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px; }

.list-item {
  line-height: 4;
  color: #aaa; }

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb; }

.place {
  margin-left: 62px; }

.phone {
  margin-left: 56px; }

.gmail {
  margin-left: 53px; }

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s; }

.contact-text a:hover {
  color: #fff;
  text-decoration: none; }

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%; }

.social-media-list li a {
  color: #fff; }

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out; }

.social-media-list li:hover {
  background-color: #fff; }

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65); }

.social-media-list li:hover a {
  color: #111; }

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center; }

hr {
  border-color: rgba(255, 255, 255, 0.8); }

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  #contact {
    height: 1000px; }
  .section-header {
    font-size: 65px; }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto; }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px; }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px; }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px; } }

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px; }
  .section-header {
    font-size: 50px; }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto; }
  .form-control, textarea {
    max-width: 310px;
    margin: 0 auto; }
  .name, .email, textarea {
    width: 280px; }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px; }
  .social-media-list {
    left: 0; }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem; }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px; } }

@media screen and (max-width: 410px) {
  .send-button {
    width: 97%; }
  button {
    margin-left: 5px; }
  .contact-list {
    margin-left: -40px; }
  .button {
    width: auto; } }

img {
  width: 100%;
  height: 100%; }

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0; }

.logo {
  width: 70px;
  height: 70px;
  background-color: red; }

.navbar-custom {
  background-color: #0c0c0c;
  padding: 0rem 1rem; }
  @media (min-width: 992px) {
    .navbar-custom .navbar-collapse {
      padding-left: 0%; } }
  .navbar-custom .navbar-collapse .nav-item {
    font-family: 'lato', sans-serif;
    color: whitesmoke;
    font-size: 1rem; }
    .navbar-custom .navbar-collapse .nav-item .nav-link, .navbar-custom .navbar-collapse .nav-item .nav-link:visited, .navbar-custom .navbar-collapse .nav-item .nav-link:hover, .navbar-custom .navbar-collapse .nav-item .nav-link:active, .navbar-custom .navbar-collapse .nav-item .nav-link:focus, .navbar-custom .navbar-collapse .nav-item .nav-link:active:hover {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      border: inherit;
      outline: inherit;
      box-shadow: inherit;
      vertical-align: inherit; }

.header_inicio {
  background-image: url(../../img/burgeruno.jpg);
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center; }

.jumbotron_uno {
  margin-left: 1rem; }
  @media (min-width: 992px) {
    .jumbotron_uno {
      margin-left: 3rem;
      margin-bottom: 11rem; } }
  .jumbotron_uno .inicio_titulo {
    font-family: 'lato', sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: bolder; }
  .jumbotron_uno .inicio_subtitulo {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: normal; }
  .jumbotron_uno .boton_jumbotron {
    font-family: 'latos', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: red;
    border-radius: 0;
    padding: 1rem; }

.section_productos {
  background-color: red;
  font-family: 'latos', sans-serif;
  color: rgba(199, 195, 195, 0.829);
  padding: 2rem 3rem 2rem 3rem; }
  .section_productos .productos_nombres {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem; }
  .section_productos .iconos_productos {
    width: 100px;
    height: 100px; }

.section_nosotros {
  background-color: red;
  padding: 2rem 3rem 2rem 3rem; }
  .section_nosotros .icono_burger {
    width: 60px;
    margin-top: 1rem;
    background-color: red; }
  .section_nosotros .section_nosotros_titulo {
    font-family: 'latos', sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: bold; }
  .section_nosotros .iconos_nosotros {
    width: 100px;
    height: 100px; }

@media (min-width: 768px) {
  .carousel-inner {
    max-height: 550px; } }

.carousel-inner .carousel-item {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center; }

.carousel-inner #sliderUno {
  background-image: url(../../img/sara-cervera-xB0Kr0D0C8Y-unsplash.jpg); }

.carousel-inner #sliderDos {
  background-image: url(../../img/jonathan-borba-1kA3lACHeqk-unsplash.jpg); }

.carousel-inner #sliderTres {
  background-image: url(../../img/pesce-huang-GR4Y5K8gwq8-unsplash.jpg); }

.carousel-inner .boton_carousel {
  font-family: 'latos', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
  background-color: red;
  border-radius: 0;
  padding: 1rem; }

.menu {
  border: solid 4px white;
  font-family: 'latos', sans-serif;
  color: white; }
  .menu .titulo_menu {
    font-size: 3rem;
    font-weight: bolder; }
  .menu .contenido_menu {
    color: grey;
    font-size: 1.5rem; }
  .menu .jumbotron_menu {
    margin-left: 1rem;
    padding: 2rem; }
    @media (min-width: 992px) {
      .menu .jumbotron_menu {
        margin-left: 4rem;
        padding: 4rem 2rem; } }
  .menu .boton_agregar {
    font-family: 'latos', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: red;
    border-radius: 0;
    padding: 1rem; }
  .menu .combo {
    border: solid 4px white;
    background-image: url(../../img/moritz-kindler-F0uOqX24H44-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }
  .menu .combo_vegano {
    border: solid 4px white;
    background-image: url(../../img/milada-vigerova-liHzUxIOqt8-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }
  .menu .milkshake {
    border: solid 4px white;
    background-image: url(../../img/sara-cervera-L6RfOqJqT8g-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }
  .menu .fritas {
    border: solid 4px white;
    background-image: url(../../img/mehrshad-rajabi-NM92w8oiKn0-unsplash.jpg);
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center; }
